body {
	background-color: #caf1ca;
}

a{
	float: right;
}

li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.recuadro{
	background-color: white; 
	border:3px #218221 solid; 
	padding: 2%;
	margin-top: 5%
}