.event_main{
	width: 100%;
	background-color: #33cc33;   
	padding: 1%; 
	color: white;
	background: -webkit-linear-gradient(#218221,green);
   	background: -moz-linear-gradient(white,#218221, #33cc33);
   	background: -o-linear-gradient(white,#218221, #33cc33);
   	border-top: 5px solid #33cc33;
}