.event_main{
	width: 100%;
	background-color: #33cc33; 
	bottom: 0;  
	padding: 1%; 
	color: white;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#218221), to(#33cc33));
   	background: -moz-linear-gradient(white,#218221, #33cc33);
   	background: -o-linear-gradient(white,#218221, #33cc33);
   	border-bottom: 5px solid #218221;
}