.event_main{
	width: 100%;
	background-color: #33cc33; 
	bottom: 0;  
	padding: 1%; 
	color: white;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#218221), to(#33cc33));
   	background: -moz-linear-gradient(white,#218221, #33cc33);
   	background: -o-linear-gradient(white,#218221, #33cc33);
   	border-bottom: 5px solid #218221;
}

.menu_boton {
	float: right;
	margin: 0 ;
	background-color: #caf1ca;
	padding: 1.5%;
	min-width: 120px;
	text-align: center;
	border-radius: 5px;
	color: black;
}

.menu_boton:hover, .menu_boton:active{
	background-color: #218221;
	color: white;
}

.main_fijo{
	position: fixed; 
	width: auto;
	top: 50px;
	/*background-color: white;*/
	z-index: 1000
}

label > input{ /* Oculto el botón de radio */
		  visibility: hidden; /* hace que el input no sea clicable*/
		  position: absolute; 
}

label > input + img{ /* estilo para la imagen */
		  cursor:pointer;
		  border:2px solid transparent;
}

.iconos_eventos {
	padding: 10px;	
}

.eventos_class { 
	padding: 20px;
	float: left;
}