html, body{
	width: 100%;
	height: 100%;
}
.header {
	background-color: white;
	position: fixed;
	width: 100%;
	top: 0;
}
.contenido_index{
	margin-top: 136px;
}

.menufijo{
	position: fixed; 
	width: 100%;
	top: 0;
	background-color: white;
	z-index: 1000
}
.menu {
	float: right;
	margin: 2%;
	background-color: #caf1ca;
	padding: 1.5%;
	min-width: 120px;
	text-align: center;
	border-radius: 5px;
	color: black;
}
.menu:hover, .menu:active{
	background-color: #33cc33;
	color: white;
}
.nombre {
	float: right;
	margin: 2%;
	padding: 1.5%;
	color: black;
}
a {
	color: black;
}
a:hover {
	/*color: #218221;*/
	color: #33cc33;
}

